.curtain {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 0;
  background-color: $c-dark;

  &--closed {
    height: 100%;
    transition: height .35s cubic-bezier(.2,.33,0,.9);
  }
}
